In [13]:
import pandas as pd
import matplotlib as mpl
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [14]:
%matplotlib inline

In [29]:
UNmig = pd.read_csv("/users/mac/Desktop/NSS/netmigration.csv")

In [35]:
UNInt = pd.read_csv("/users/mac/Desktop/NSS/internet.csv")

In [31]:
type(UNmig)

pandas.core.frame.DataFrame

In [32]:
UNmig.head(6)

  Country or Area  Year    Value
0     Afghanistan  2012   473007
1     Afghanistan  2007  -677497
2     Afghanistan  2002   804120
3     Afghanistan  1997  -379474
4     Afghanistan  1992  2227474
5     Afghanistan  1987 -1484185

In [36]:
UNInt.head(6)

  Country or Area  Year     Value
0     Afghanistan  2014  6.390000
1     Afghanistan  2013  5.900000
2     Afghanistan  2012  5.454545
3     Afghanistan  2011  5.000000
4     Afghanistan  2010  4.000000
5     Afghanistan  2009  3.550000

In [41]:
UNmig1 = UNmig.rename(columns={'Country or Area': 'Country', 'Value': 'Net_migration'})

In [42]:
UNmig1.head(6)

       Country  Year  Net_migration
0  Afghanistan  2012         473007
1  Afghanistan  2007        -677497
2  Afghanistan  2002         804120
3  Afghanistan  1997        -379474
4  Afghanistan  1992        2227474
5  Afghanistan  1987       -1484185

In [44]:
UNInt1 = UNInt.rename(columns={'Country or Area': 'Country', 'Value': 'Internet_Users_Pct'})

UNInt1.head(6)

In [45]:
UNInt1.head(6)

       Country  Year  Internet_Users_Pct
0  Afghanistan  2014            6.390000
1  Afghanistan  2013            5.900000
2  Afghanistan  2012            5.454545
3  Afghanistan  2011            5.000000
4  Afghanistan  2010            4.000000
5  Afghanistan  2009            3.550000